log/*
tmp/*
config/database.yml
.DS_Store
db/development.sqlite3
db/test.sqlite3
public/images/competitions/*
public/images/events/*
public/images/places/*
public/images/avatars/*
public/images/photos/*
public/images/backgrounds/*
public/uploads/*
public/cache/*
public/exports
db/sphinx/*
config/development.sphinx.conf
config/test.sphinx.conf
webrat*.html
public/events/events.html
rerun.txt

